body {
  background-image: linear-gradient(180deg, #0e1a33 13%, #050a13 80%);
  text-align: left;
  font-size: 110%;
}

p {
  font-family: "Lato", sans-serif;
  color: #8dc63f;
}

.flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn {
  color: #f6f7f8;
  font-family: "Dosis", sans-serif;
  font-size: 102%;
  font-weight: bold;
  text-transform: uppercase;

  border-style: hidden;
  border-radius: 40px;
}

.container {
  background-color: #0e1a33;
  background-image: url("imgs/background.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: 116%;
  background-position-x: 113%;

  width: 38rem;
  box-shadow: 0px 4px 40px rgba(2, 7, 12, 0.5);
  padding: 1.5%;
  margin-top: 1rem;
  align-self: center;

  border-style: hidden;
  border-radius: 30px;
  border-width: 1%;
  border-color: #0e1a33;
}

.container-index{
  background-color: #f6f7f8;
  background-image: none;
  width: 36rem;
  text-align: center;
}

.container-result {
  width: 56rem;
}

.container-congrats {
  width: 76rem;
}

.container-certificate{
  width: 76rem;
  background-color: #f6f7f8;
  background-image: none;
  p{
    color: #cc2b0f;
    font-family: "Lato", sans-serif;
    font-size: 220%;
  }
}

.card-img-top {
  width: 34rem;
  align-self: center;
}

.card-img-result {
  width: 40rem;
}

.card-img-congrats {
  width: 58rem;
}

.card-img-certificate {
  width: 14rem;
}

.btn-exit {
  background-color: #ef4123;
  width: 17%;
}

.btn-exit:hover {
  background-color: #cc2b0f;
}

.btn-continue {
  background-color: #8dc63f;
  text-align: center;
  width: 22%;
}

.btn-continue:hover {
  color: #f6f7f8;
  background-color: #71a130;
}

.exit {
  text-align: center;
  margin-top: 5%;
  margin-bottom: -1rem;
}

.space {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.btn-group-next {
  margin-top: 1rem;
  margin-bottom: -1rem;
  text-align: center;
}

.btn-group-congrats {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.card-img-top {
  margin-top: 3%;

  border-style: hidden;
  border-radius: 20px;
  border-width: 1%;
}

.style-line {
  width: 90px;
  height: 4px;

  margin-left: 0;
  margin-bottom: 4%;
  padding-left: 0;

  border-radius: 20px;
  background-color: #ef4123;
}

.card-title {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #f6f7f8;

  margin-bottom: 5%;
}

.index-title{
  color: #0e1a33;

  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: 300%;
}

.index-subtitle{
  color: #0e1a33;

  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: 150%;
}

.result-title {
  background-color: #0e1a33;
  background-image: url("imgs/background2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 40%;

  color: #f6f7f8;

  font-weight: bold;
  text-align: center;
  font-size: 430%;

  margin: 0;
  margin-bottom: -2rem;
}

.congrats-title {
  font-size: 450%;
}

.certificate-title{
  color: #0e1a33;
  text-transform: uppercase;

  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: 350%;

  margin-bottom: 10%;
}

.certificate-subtitle-caps{
  color: #0e1a33;
  text-transform: uppercase;

  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 130%;
  margin: 0;
}

.certificate-subtitle{
  color: #0e1a33;

  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 130%;
  margin: 0;
}

.btn-congrats {
  font-size: 120%;
  padding: 0.5rem;
}

.btn-info {
  background-color: #067a99;

  padding-top: 2%;
  padding-bottom: 2%;

  width: 60%;
}

.certificate-textfield{
  background-color: transparent;
  color: #0e1a33;
  border: hidden;

  font-family: "Lato", sans-serif;
  font-size: 300%;
  text-align: center;

  margin: 0;
  padding: 0;
  padding-top: -0.5px;
}